.container.extended {
    @include respond(xl) {
        max-width: 1280px;
    }
}

.code-summary-wrapper {
  position: relative;
  display: inline-block;
  z-index: 0;
  padding: 1.1rem;
  margin-inline: auto;
  font-size: .8em;
}

.code-summary-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.4;
  background: url("/code-summary-bg.svg") center/contain no-repeat;
  transform: scale(1.7, .6);
  filter: drop-shadow(0 5px 15px rgba(135, 206, 235, 0.45));
}

.code-summary-wrapper span {
  display: block;
  text-transform: uppercase;
}
