<script>
    (function () {
        const serifChinese = document.createElement('link');
        serifChinese.href = "https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap";

        serifChinese.type = "text/css";
        serifChinese.rel = "stylesheet";

        const serif = document.createElement('link');
        serif.href = "https://fonts.googleapis.com/css?family=Noto+Serif&display=swap";

        serif.type = "text/css";
        serif.rel = "stylesheet";

        document.head.appendChild(serifChinese);
        document.head.appendChild(serif);

    }());
</script>